body{
    font-family:  'Noto Sans', sans-serif;
    font-weight: 500;
    background-image: url("images/pattern-background-desktop.svg");
    width: 1440px;
    margin-top : 8%;
    margin-left: 12%;
}
.TopImage{
    width: 360px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}


h1{
    color: hsl(223, 47%, 23%)
}

#Plan h2{

    font-size: 16px;
}

p{
    size: 16px;
    color: hsl(224, 23%, 55%)  
}

a{
    color: #1E1FCD;
}
a:hover{
    text-decoration: none;
}
#OrderBox{
    
    border-radius: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 10%;
    width: 25%;
    margin-left: 650px;

}

#Accept > img{
    width: 17%;
    height: 17%;
    padding-right: 0px;
}
#Accept{
    background-color: hsl(225, 100%, 98%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color: black;
    width: 300px;
    border-radius: 10px;
}

#Plan{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: auto;
    margin-right: 60px;
}

 #Plan :nth-child(odd){
    color: hsl(223, 47%, 23%);

    font-style: bold;
    margin-bottom: 0px;
}

#Plan :nth-child(even)
{
    margin-top: 0px;
}



#PaymentButtons > p{
    width: 268px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em;
}

#PaymentButtons > p:hover{
    background-color: #1E1FCD;
    color: white;
}
